/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ff6f61, #f3a683);
  color: #fff;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 111, 97, 0.7), 0 0 40px rgba(243, 166, 131, 0.7); /* Glowing effect */
  animation: glow 1.5s infinite alternate; /* Glowing animation */
}

@keyframes glow {
  0% {
      box-shadow: 0 0 20px rgba(255, 111, 97, 0.7), 0 0 40px rgba(243, 166, 131, 0.7);
  }
  100% {
      box-shadow: 0 0 30px rgba(255, 111, 97, 1), 0 0 60px rgba(243, 166, 131, 1);
  }
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  z-index: 20000;
}
